<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>65928882386-gredf9tpvo774f6kvmjmt547ro067psi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65928882386-gredf9tpvo774f6kvmjmt547ro067psi</string>
	<key>API_KEY</key>
	<string>AIzaSyC9u8R0bV7hLy5QbkUfsX9pQQjKwD-8W6o</string>
	<key>GCM_SENDER_ID</key>
	<string>65928882386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robertosantos.MountainTour</string>
	<key>PROJECT_ID</key>
	<string>jeepshop7</string>
	<key>STORAGE_BUCKET</key>
	<string>jeepshop7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65928882386:ios:b584db3ed53411b3</string>
	<key>DATABASE_URL</key>
	<string>https://jeepshop7.firebaseio.com</string>
</dict>
</plist>